body {
    text-align: center;
    background-color: coral;
}

#p1 {
    color: #FFFFFF;
    font-size: 20px;
}

#p2 {
    color: #FFFFFF;
    font-size: 20px;
}

#p3 {
    color: #FFFFFF;
    font-size: 20px;
}

#p4 {
    color: #FFFFFF;
    font-size: 20px;
}

#p5 {
    color: #FFFFFF;
    font-size: 20px;
}
